.double-blocks {
    margin-bottom: 180px;

    @media (max-width: 768px) {
        margin-bottom: 56px;
    }

    &__container {
        display: flex;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__item {
        border-radius: 8px;
        border: 1px #E6E6E6 solid;
        background-repeat: no-repeat;        
        background-position: right top; 
        padding: 60px;

        @media (max-width: 768px) {
            padding: 16px;
        }

        &_1 {
            background-image: image-set(
                url('../../images/double-blocks/double-blocks_1.png') 1x,
                url('../../images/double-blocks/double-blocks_1@2x.png') 2x
            );                     
            background-size: cover;              
        }

        &_2 {
            background-image: image-set(
                url('../../images/double-blocks/double-blocks_2.png') 1x,
                url('../../images/double-blocks/double-blocks_2@2x.png') 2x
            );                       
            background-size: contain;
        }
        
        &:not(:last-of-type) {
            margin-right: 42px;

            @media (max-width: 1024px) {
                margin: 0 0 42px 0;
            }

            @media (max-width: 768px) {
                margin: 0 0 20px 0;
            }
        }

        &-title {
            font-size: 36px;
            font-weight: 600;
            margin: 0 0 8px;

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        &-description {
            font-size: 20px;
            line-height: 1.4;
            max-width: 80%;
            margin: 0 0 40px;

            @media (max-width: 768px) {
                font-size: 10px;
                margin: 0 0 16px;
            }
        }

        .btn {
            @media (max-width: 768px) {               
                justify-content: center;
                height: 30px;
                width: 45%;
                border-radius: 4px;
                font-size: 12px;
                padding: 0 10px;                
            }

            svg {
                @media (max-width: 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}