.footer {
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 60px 0 76px;

    @media (max-width: 768px) {
        padding: 22px 0 22px;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: flex-start;            
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 20px;

        a {
            text-decoration: none;
            color: var(--color-black);
            transition: all .2s;

            &:hover {
                color: var(--color-violet);
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;

        @media (max-width: 1024px) {            
            padding: 20px 0 0;
        }

        &-description {
            font-size: 16px;
            margin: 0 0 12px;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .footer__title {
            @media (max-width: 1024px) {
                order: -2;
            }
        }
    }

    &__copyrights {
        display: flex;
        flex-direction: column;
        
        @media (max-width: 1024px) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            border-top: rgba(0, 0, 0, 0.1) 1px solid;
            font-size: 8px;
            padding-top: 22px;
        }

        .footer__link {
            margin: 0;
        }

        span {
            @media (max-width: 1024px) {
                margin-right: 8px;
            }
        }
    }

    &__logo {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__socials-block {
        margin-bottom: 24px;    
        
        @media (max-width: 1024px) {
            order: -1;           
        }               
        
        .socials-block__item {
            width: 24px;
            height: 24px;                        

            &:not(:last-of-type) {
                margin-right: 8px;
            }

            img {
                transform: scale(.7);
            }
        }
    }

    &__menu {
        display: flex;

        @media (max-width: 1024px) {
            justify-content: space-between;
            order: -2;
            border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
            padding-bottom: 22px;
        }

        &-item {
            &:not(:last-of-type) {
                margin-right: 35px;
            }

            &:first-of-type {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            
            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;

                    &:not(:last-of-type) {
                        margin-bottom: 16px;
                    }

                    a {
                        color: rgba(26, 37, 58, 0.6);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__buy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 1024px) {
            order: -1;      
            flex-direction: row;
            justify-content: space-between;
            align-items: center;      
            border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
            padding: 20px 0 20px;
        }

        img:first-of-type {
            margin-bottom: 20px;

            @media (max-width: 1024px) {
                margin: 0 20px 0 0;
            }
        }

        .footer__title {
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &__link {
        color: rgba(26, 37, 58, 0.5);
        text-decoration: none;
        transition: all .2s;
        margin-bottom: 10px;

        &:hover {
            color: var(--color-violet);
        }
    }
}