.help-with {
    position: relative;
    padding-bottom: 270px;

    @media (max-width: 768px) {
        padding-bottom: 60px;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;

        @media (max-width: 768px) {
            margin: 0 0 30px;
        }
    }

    &__subtitle {
        @media (max-width: 1024px) {
            margin-bottom: 12px;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;

        @media (max-width: 1312px) {
            flex-direction: column;
        }

        @media (max-width: 1094px) {
            font-size: 2.19vw;
        }

        @media (max-width: 768px) {
            font-size: 10px;
            margin-bottom: 30px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        color: var(--color-black);
        opacity: .5;
        transition: all .2s;
        cursor: pointer;
        position: relative;
        padding-left: 52px;   
        
        @media (max-width: 1024px) {                 
            padding-left: 14px;         
        }

        @media (max-width: 768px) {                 
            padding-left: 5px;         
        }

        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
            background-color: var(--color-black);

            @media (max-width: 1024px) {            
                width: 2px;
                height: 2px;            
            }
        }

        &:not(:last-of-type) {
            margin-right: 12px;

            @media (max-width: 768px) {                 
                margin-right: 4px;         
            }
        }        

        &.active,
        &:hover {
            color: var(--color-violet);
            opacity: 1; 
            
            &::before {
                background-color: var(--color-violet);
            }                      
        }
    }

    .section-divider {
        
        @media (max-width: 1024px) {
            height: 60px;
            min-width: auto;
        }

        @media (max-width: 768px) {
            bottom: -60px;
        }
    }
}