.hero-block {
    background-color: #14141B;
    background-image: image-set(
        url('../../images/hero-image.jpg') 1x,
        url('../../images/hero-image@2x.jpg') 2x
    );
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;   
    overflow-x: hidden;
    margin-bottom: 196px;

    @media (max-width: 768px) {
        background-image: image-set(
            url('../../images/hero-image_mobile.jpg') 1x,
            url('../../images/hero-image_mobile@2x.jpg') 2x
        );
        background-size: cover;
        margin-bottom: 36px;
    }

    &__container {
        padding: 150px 0 0;

        @media (max-width: 768px) {
            padding: 64px 0 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 666px;
        margin-bottom: 148px;

        @media (max-width: 768px) {
            align-items: center;
            margin: 0;
        }
    }  

    &__caption-title {
        font-size: 24px;
        font-weight: 500;
        color: white;
        margin: 0 0 32px;
    }

    &__cta {
        display: flex;
        align-items: center;

        a:first-of-type {
            margin-right: 14px;

            @media (max-width: 768px) {
                margin: 0 0 14px 0;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            width: 100%;

            .btn {
                width: 100%;
                
                &:not(:last-of-type) {
                    margin: 0 0 12px;
                }
            }
        }
    }

    &__section-caption {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__logos {        
        border-top: rgba(169, 180, 255, 0.15) 1px solid;
        border-bottom: rgba(169, 180, 255, 0.15) 1px solid;

        @media (max-width: 768px) {
            display: none;
        }

        &-wrap {
            display: flex;
            align-items: center;
            height: 120px;

            img {
                mix-blend-mode: lighten;
                transition: all .2s;

                &:hover {
                    filter: brightness(3);
                }
            }

            a {
                &:not(:last-of-type) {
                    margin-right: 58px;
                }
            }
        }
    }

    &__our-mission {

        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 174px 0 265px;

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                align-items: flex-start;
                padding: 82px 0 95px;
            }            
        }

        &-text {
            width: 666px;

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 64px;
            }
        }

        &-video {
            display: flex;
            align-items: center;

            @media (max-width: 768px) {
                justify-content: space-between;
                width: calc(50% + 38px);
                position: relative;
                top: -22px;
            } 
        }

        &-video-title {
            border-radius: 8px;
            background: linear-gradient(90deg, rgba(20, 20, 26, 0.01) 3.15%, #000000 100%);
            padding: 16px;
            margin-right: 74px;

            @media (max-width: 768px) {
                margin: 0;
            } 

            h3 {
                font-size: 18px;
                font-weight: 500;
                color: white;
                margin: 0 0 2px;

                @media (max-width: 768px) {
                    font-size: 10px;
                } 
            }
            
            p {
                font-size: 14px;
                font-weight: 300;
                color: white;
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 8px;
                } 
            }
        }
    }

    &__video-button {        
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        width: 178px;
        height: 178px;
        background-image: radial-gradient(50% 50% at 50% 50%, #1E1225 74.48%, #120E18 100%);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #B759DC;
        cursor: pointer;
        position: relative;
        left: -13px;
        transition: all .2s;
        margin-right: 40px;

        svg {
            transition: all .2s;
        }

        &:hover {
            background-image: radial-gradient(50% 50% at 50% 50%, #572277 51.56%, #120E18 100%);
            box-shadow: 0px 0px 60px rgba(153, 65, 255, 0.79);
            border-color: white;

            svg {
                fill: white;
                fill-opacity: 1;
            }
        }

        @media (max-width: 768px) {
            width: 76px;
            height: 76px;
            margin: 0;

            svg {
                transform: scale(.5);
            }
        }   
        
        @media (max-width: 375px) {
            left: 0;
            bottom: -10px;
        } 
    }

    &__bottom-img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 137px;
        min-width: 1920px;

        @media (max-width: 768px) {
            height: 60px;
            width: 150vw;
            min-width: auto;
        }
    }
}