.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;

    &.active {
        display: flex;
    }

    &__logo {
        width: 150px;
    }
    
    &__header {
        width: 100%;
        border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
        
        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 90px;
        }
    }

    &__close {
        width: 22px;
        height: 22px;
        background: url('../../images/menu-close.svg') no-repeat center;
        background-size: contain;
        border: none;
        flex: none;
        cursor: pointer;        
    }

    &__menu {
        margin-bottom: 42px;
        
        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                height: 60px;
                border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
                list-style: none;
                font-size: 16px;                
                padding: 0 0 0 20px;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-top: var(--color-violet) 2px solid;
                    border-right: var(--color-violet) 2px solid;
                    margin-right: 10px;
                }

                a {
                    color: #8789AA;
                    text-decoration: none;
                }
            }
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 46px;

        .btn {
            flex: auto;
            
            &:first-of-type {
                margin-right: 8px;
            }
        }            
    }

    &__social {
        padding: 0 20px;

        h2 {
            font-size: 10px;
            font-weight: 400;
            color: #8789AA;
            margin: 0 0 8px;
        }    
    }

    &__socials-block {
        justify-content: space-between;

        .socials-block__item {
            background-color: #22222C;

            img {
                opacity: .5;
            }            
        }
    }
}