.title {
    font-weight: 500;
    line-height: 1.3;

    &_primary {
        font-size: 48px;
        color: white;
        margin: 0 0 32px;

        @media (max-width: 768px) {
            font-size: 36px;
            text-align: center;
            margin: 0 0 18px;
        }
    }

    &_section {
        font-size: 64px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
}