@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Light.woff2'),
       url('../fonts/TTFirsNeue-Light.woff'),
       url('../fonts/TTFirsNeue-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Medium.woff2'),
       url('../fonts/TTFirsNeue-Medium.woff'),
       url('../fonts/TTFirsNeue-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-DemiBold.woff2'),
       url('../fonts/TTFirsNeue-DemiBold.woff'),
       url('../fonts/TTFirsNeue-DemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
